---
layout: home
title: 
---

<figure>
    <img src="/images/profile.jpg" class="imgbleed">
    <figcaption>Photo by Nobayuke.</figcaption>
</figure>

Hello, I am Noreta Agus Sasono, the human being behind this page. I am currently living in Ngawi, Indonesia.
<br><br>
I do design and photography for Nobayuke; a creative team established in 2011 to satisfy the needs of people of an exclusive design and photography. 
<br><br>
Click here to see our works and things we've made.
