---
layout: default
title: Projects
---
<article class="projects grid">
	<header class="grid__col grid__col--2-of-8">
		{% if page.title %}
		<h1 class="page__title">{{ page.title }}</h1>
			{% if page.headline %}
			<h2 class="page__headline">{{ page.headline }}</h2>
			{% endif %}
		{% endif %}
	</header>
	<div class="grid__col grid__col--6-of-8">
Saya merupakan bagian dari Nobayuke; sebuah tempat kreatif yang terbentuk pada tahun 2011 untuk memenuhi kebutuhan orang atas desain dan fotografi yang ekslusif serta personal. Klik disini untuk melihat beberapa hal yang telah kami buat.
<hr>		<div class="grid">
			{% for post in site.categories.project limit: 9 %}
			<div class="grid__col grid__col--1-of-3">
				{% if post.direct_url %}
				<a href="{{ post.direct_url }}" target="_blank"><img src="{{ post.preview }}" alt="{{ post.title }}"/><h2>{{ post.title }}</h2></a>
				{% else %}
				<a href="{{ post.url }}"><img src="{{ post.preview }}" alt="{{ post.title }}"/><h2>{{ post.title }}</h2></a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</article>
